{% extends "base.html" %}
{% load static %}
{% block title %}Checkout Page{% endblock %}


{% block content %}

<h1></h1>
<b></b>Checkout page for <strong>{{ user }}</strong>'s Cart:</b></p> 

 
        <div class="cart-item">
            <div><strong>Cart Name:</strong> {{ cart }}</div>
            <div><strong>Total Price of items in Cart:</strong> {{ total_price }}</div>

{% for item in items %}
    
        <li>
            <b>Item name:</b> {{ item.name }}<br>
            <b>Description:</b> {{ item.description }}<br>
            <b>Price:</b> ${{ item.price }}<br>
           
            <a href="{% url 'shop:detail' item.id %}" class="btn-link">View Item Details 📇 </a>
            <a href="{% url 'shop:add-to-cart' item.id %}" class="btn-link">Add to Cart 🛒</a>
            <hr>
        </li>
   

    {% endfor %}

    
    <a href="{% url 'transaction:process-checkout' %}" class="btn-link">Confirm Purchase</a>


<div style="text-align: center;">
    <img src="{% static 'img/img_market.jpg' %}" width="400" padding="200">
</div>
{% endblock %}