{% extends "base.html" %}
{% load static %}
{% block title %}Checkout Page{% endblock %}


{% block content %}

<h1></h1>
<b></b>Checkout page for <strong>{{ user }}</strong>'s Cart:</b></p> 

 
        <div class="cart-item">
            <div><strong>Cart Name:</strong> {{ cart }}</div>
            <div><strong>Total Price of items in Cart:</strong> {{ total_price }}</div>
{% for item in cart_items %}
{% endfor %}
<p> {{ cart.items }}</p>

    
    <a href="{% url 'transaction:process-checkout' %}" class="btn-link">Confirm Purchase</a>


<div style="text-align: center;">
    <img src="{% static 'img/img_market.jpg' %}" width="400" padding="200">
</div>
{% endblock %}