{% load static %}
<!DOCTYPE html>
<html>
    <head>
<div style="text-align: center;">
    <img src="{% static 'img/logo.jpg' %}" width="200">
</div>


    <title>{% block title %}My Site{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<header>
    <h1>My Exotic Market Website</h1>
</header>

<div class="content">
    {% block content %}{% endblock %}
</div>

<footer>
    <p>© 1995- 2025 Radwan Solutions Inc. or its affiliates</p>
</footer>

</body>
</html>