{% extends "base.html" %}
{% load static %}
{% block title %}Cart View Page{% endblock %}
{% block page_header %}{% endblock %}


{% block content %}  

<h1>List of all items in {{ request.user }} cart:</h1>

<ul>
    {% for item in cart_items %}
        <li>
            <b>Item Name:</b> {{ item.name }}<br>
            <b>Description:</b> {{ item.description }}<br>
            <b>Price:</b> €{{ item.price }}<br>
            
            <a href="{% url 'shop:remove-cart' item.id %}" class="btn-link">Remove from Cart</a>            

            <hr>
            
        </li>
    
    {% endfor %}
</ul>

    <strong>TOTAL PRICE FOR ALL ITEMS:</strong> EUR {{ total_price }}
    <hr>

{% endblock %}