{% extends "base.html" %}
{% load static %}
{% block title %}Cart View Page{% endblock %}



{% block content %}  

<h1>List of all items in {{ request.user }} cart:</h1>

<ul>
    {% for item in cart_items %}
        <li>
            <b>Item Name:</b> {{ item.name }}<br>
            <b>Description:</b> {{ item.description }}<br>
            <b>Price:</b> €{{ item.price }}<br>
            
            <a href="{% url 'shop:remove-cart' item.id %}" class="btn btn-danger">Remove from Cart</a>            

            <hr>
            
        </li>
    
    {% endfor %}
</ul>

    Total Price for all items: EUR {{ total_price }}

{% endblock %}