{% extends "base.html" %}
{% block header %}{% endblock %}
{% block title %}View Details of Items {% endblock %}


{% block content %}

<h1>Details of Item: </h1>

{% if item.image %}
    <img src="{{ item.image.url }}" alt="{{ item.name }}" style="max-width: 300px; max-height: 300px;">
{% else %}
    <p>No image available</p>
{% endif %}

<p><b>Item Name: {{ item.name }}</b></p>
<ul>
        <li><b>Item Price:</b> {{ item.price}}</li>
        <li><b>Item Category:</b> {{ item.category}}</li>
        <li><b>Item Description:</b> {{ item.description}}</li>
        <li><b>Seller:</b> {{ item.seller}}</li>
        {% if item.available %}<li><b>Available:</b> Yes</li>{% endif %}

</ul>
{% if request.user == item.seller %} <a href="{% url 'shop:delete' item.id %}" class="btn-link">Delete Permanently</a> {% endif %}
{% if request.user == item.seller %} <button type="delete" class="btn-link">Enter to Delete Item</button>{% endif %}
{% endblock %}

