{% extends "base.html" %}
{% block header %}{% endblock %}
{% block title %}View All Items Page{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<h1>List of all items for {{ user }} </h1>
{% endif %}
<ul>
    {% for item in all_items %}
        <li>
            <b>Item name: {{ item.name }}</b><br>
            Description: {{ item.description }}<br>
            Price: ${{ item.price }}<br>
            Seller: {{ item.seller.username }}<br>
            <a href="{% url 'shop:add-to-cart' item.id %}">Add to Cart</a>
            <hr>
        </li>
    
    {% endfor %}
</ul>
{% endblock %}
