{% extends "base.html" %}
{% block header %}{% endblock %}
{% block title %}View All Items Page{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<h1>List of all items in Exomarket: </h1>
{% endif %}
<ul>
    {% if all_items %}
    {% for item in all_items %}
    
        <li>
            <b>Item name:</b> {{ item.name }}<br>
            <b>Description:</b> {{ item.description }}<br>
            <b>Price:</b> ${{ item.price }}<br>
           
            <a href="{% url 'shop:detail' item.id %}" class="btn-link">View Item Details 📇 </a>
            <a href="{% url 'shop:add-to-cart' item.id %}" class="btn-link">Add to Cart 🛒</a>
            <hr>
        </li>
   

    {% endfor %}
    {% else %}
    <h3>No search results found</h3>
    {% endif %}
</ul>
{% endblock %}
